# This file specifies files that are _not_ uploaded to Google Cloud

# using gcloud. It follows the same syntax as .gitignore, with the addition of

# "#!include" directives (which insert the entries of the given .gitignore-style

# file at that point).

#

# For more information, run:

# $ gcloud topic gcloudignore

#

.gcloudignore

# If you would like to upload your .git directory, .gitignore file or files

# from your .gitignore file, remove the corresponding line

# below:

.git
.gitignore

node_modules
#!include:.gitignore

# Fichiers sensibles

.env
.env.\_
\_.key
\*.pem
env.yaml

# Node

node_modules
npm-debug.log

# Git

.git
.gcloudignore
.gitignore

# Tests et dev

test/
**tests**/
_.spec.ts
_.test.ts

# IDE / OS

.DS_Store
.vscode
.idea
